*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  /* background-color: red; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: .3s;
}
.container.active{
  filter: blur(5px);
}
header{
  padding: 35px 0 20px;
  position: relative;
  background-color: rgb(145, 211, 211);
  border-bottom: 2px solid black;
}

header h1{
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 2rem;
}

header button {
  padding: 5px 10px;
  border:none;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s linear;
}

header button i{
  margin-right: 5px;
}

header button:hover{
  background-color: rgb(227, 238, 124);
  /* color: white; */
}
main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.choose-hand{
  /* background-color: blueviolet; */
  padding: 10px 0;
}
.choose-hand h1{
  font-size: 2rem;
  font-weight: 300;
}
.hands-container{
  /* background-color: cadetblue; */
  padding: 10px 0;
}

.hands-container i{
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: rgb(145, 211, 211);
  line-height: 70px;
  font-size: 4.5rem;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s linear;
}
.hands-container i:nth-child(3){
  margin-right: 0;
}
.hands-container i:hover{
  background-color: rgb(227, 238, 124);
}
.hands-container .active{
  background-color: rgb(227, 238, 124);
}
.play button
{
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: rgb(233, 241, 154);
  /* color: rgb(74, 136, 74); */
  font-size: 2rem;
  cursor: pointer;
  transition: .4s;
  letter-spacing: 2px;
  font-weight: bold;
}

.play button:hover{
  background-color: rgb(224, 236, 112);
 color: black;
}
.choosed-option{
  /* background-color: rgb(211, 156, 156); */
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
.box {
  display: flex;
  justify-content: space-between;
  /* margin: 15px 0; */
}
.box h1,
.box span{
  font-size: 1.8rem;
  margin: 5px 0;
}
.box span {
  /* background-color: rgb(245, 225, 169);  */
}
.winner{
  /* background-color: red; */
  padding: 10px 0;
}
.winner h1 {
  font-size: 2.5rem;
  color: rgb(67, 167, 167);
  text-transform: uppercase;
}
.statistic {
  /* background-color: red; */
  padding: 20px;
  width: 70%;
  margin: 0 auto;
}
.statistic h1{
  font-size: 2rem;
}
.statistic .box:nth-child(odd){
  background-color: rgb(224, 224, 223);
}
.statistic .box h1{
  font-size: 1.6rem;
}
footer {
  /* margin-top: 15px; */
  text-align: center;
  background-color: rgb(145, 211, 211);
  border-top: 2px solid black;
  /* background-color: blueviolet; */
}

footer p{
  color: white;
  padding: 5px;
}
footer p a{
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  transition: .3s linear;
}
footer p a:hover{
  color: rgb(78, 79, 80);
  /* font-weight: 700; */
}
.rules {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  background-color: rgb(211, 209, 209);
  z-index: 2;
  /* border-top: 10vh solid black; */
  /* border-bottom: 10vh solid black; */
  text-align: center;
  transform: scale(0);
  transition: .3s;
  border: 2px solid rgba(0,20,0,0.7);
  padding: 10px;
  }
  .rules h2{
    padding: 10px;
    background-color:  rgb(145, 211, 211);
    color: black;
    text-transform: uppercase;
  }
  .rules>p{
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    line-height: 150%;
  }

  .rules ul {
    list-style-type: none;
    text-align: left;
    padding: 10px;
    line-height: 150%;

  }
 
  .rules ul li i{
    margin-right: 10px;
  } 
  .rules>span {
    font-size: .7rem;
    font-style: italic;
  }
  .rules span i{
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;

    right: 0;
    /* transform: translate(50%, -50%); */
    cursor: pointer;
  }
  .rules.active {
    transform: translate(-50%, -50%) scale(1);
  }

@media (min-width: 480px){
  .choosed-option,
  .statistic{
    width: 60%;
  }
}

@media (min-width: 768px){
  .choosed-option,
  .statistic{
    width: 50%;
  }
}

@media (min-width: 1024px){
  html{
    font-size: 75%;
  }
  .hands-container i{
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  .choosed-option,
  .statistic{
    width: 40%;
  }
}

@media (min-width: 1300px){
  .choosed-option,
  .statistic{
    width: 40%;
  }
}
